<h1>Your Recipes</h1>

<% if @recipes.any? %>
<ul class="recipe-list">
    <%= link_to "Create a new recipe", new_recipe_path, class: "btn-create btn-recipe" %>
    <% @recipes.each do |recipe| %>
        <li>
            <div class="left">
                <p><%= link_to recipe.name, recipe, class: "recipe-link" %></p><br>
                <%= link_to "Remove", recipe_path(recipe), class: "remove-btn", method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this recipe?" } %>
            </div>
            <div class="right">
              <p><%= recipe.description %></p>
            </div>
         </li>
    <% end %>
</ul>
<% else %>
  <p class="new-recipe">You don't have any recipes yet. <%= link_to "Create a new recipe", new_recipe_path, class: "btn-create" %></p> 
<% end %>