# <div class='form-container'>
# <h1>Create a New Recipe</h1>

# <%= form_with model: @recipe, url: recipes_path, method: :post, local: true, scope: :recipe do |form| %>
#   <div class="field">
#     <%= form.label :name %>
#     <%= form.text_field :name %>
#   </div>

#   <div class="field">
#     <%= form.label :preparation_time %>
#     <%= form.number_field :preparation_time, step: 0.01 %>
#   </div>

#   <div class="field">
#     <%= form.label :cooking_time %>
#     <%= form.number_field :cooking_time, step: 0.01 %>
#   </div>

#   <div class="field">
#     <%= form.label :description %>
#     <%= form.text_area :description %>
#   </div>

#   <div class="field checkbox">
#     <%= form.label :public %>
#     <%= form.check_box :public %>
#   </div>

#   <div class="actions">
#     <%= form.submit "Create Recipe" %>
#   </div>
# <% end %>
#    <div class="back-to-recipe">
#       <%= link_to "Back to My Recipes", recipes_path %>
#    </div>
# </div>